table{
font-family: sans-serif;
border: solid 1px #a2a9b1;
border-collapse: collapse;
padding: 0.2em 0.4em;
border-spacing: 2px;
margin: 8px;


}
tr{
    border-style: solid;
    border-color: #a2a9b1;
    font-color: royalblue;
}
td {
    border-style: solid;
    border-color: #a2a9b1;
    background-color: transparent;
}
th {
    font-color: lightblue;
    border: solid;
    background-color: #a2a9b1;

}
a {
    color: blue;
}
tf {
    background-color: #a2a9b1;
    font-color: black;
    text-align: center;
    text-decoration-color: bisque;
    border-style:inherit;

}